[submodule ".vim-plugins/vim-scala"]
	path = .vim-plugins/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim-plugins/vim-coffee-script"]
	path = .vim-plugins/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim-plugins/vim-pathogen"]
	path = .vim-plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim-plugins/vim-githublink"]
	path = .vim-plugins/vim-githublink
	url = https://github.com/jtai/vim-githublink.git
[submodule ".vim-plugins/vim-womprat"]
	path = .vim-plugins/vim-womprat
	url = https://github.com/jtai/vim-womprat.git
